@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.orange_gradient {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  color: transparent;
}
.desc {
  font-size: 1.2rem;
}
.dropdown {
  display: flex;
  flex-direction: column;
}
.dropdown_link {
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}
.dropdown_link:hover {
  background-color: #f0f0f0;
}
